extends home_layout

block content
  - var fail_messages = []
  if fail_message
    - var fail_messages = fail_message
  else
    - var fail_messages = []
  // Full Page Image Header with Vertically Centered Content
  header.masthead(style="background-image: url('/images/register_back.jpg')")
    .container.h-100
      .row.h-100.align-items-center
        .col-10.col-sm-10.col-md-8.col-lg-5.col-xl-4.register_form.shadow-sm.bg-white.rounded.mx-auto
          img(src='/images/what_to_watch_black.png' alt="FMovies Icon" style="width: 80%")
          h5.title_colors(style="padding-top:20px").text-center
            | Create Your Account 

          form(action='/register' method='POST')

            div.form-registration
              input.form-control.username(type="text", name="username", 
                                            placeholder="Username", required)
              p#bad_user.password_error
            
            div.form-registration
              input.form-control.first_name(type="text", name="first_name", 
                                            placeholder="First Name", required)

            div.form-registration
              input.form-control.first_name(type="text", name="last_name",
                                            placeholder="Last Name", required)

            div.form-group.form-registration
              input.form-control.email(type="email", name="email", aria-describedby="emailHelp",
                                      placeholder="Email Address", autocomplete="email" required)
              
              small#emailHelp.form-text.text-muted(style="margin-top:0px") We'll never share your email with anyone else.
              
            div.form-group.form-registration
              input.form-control.password(type="password", id="password" name="password",
                                          placeholder='Password',
                                          aria-describedby="passwordHelp",
                                          autocomplete="current-password" required)

              small#passwordHelp.form-text.text-muted(style="margin-top:0px;margin-bottom: 0px") Password must contain at least one uppercase letter, one lowercase letter and one number.
              
              p#fail_messages.password_error(style="text-align: left;margin-top: 0px;padding-top: 0px;")
                for message in fail_messages
                  | #{message.message}
                  br

              p#bad_password.password_error
              p#unknown_error.password_error
                              
            div.form-group.form-registration
              button.submit.btn.alt_button(type="submit") Register

          div.col-md-12.col-lg-11.col-xl-11.mx-auto
            p(style="padding-top:20px")
              | Already a member? 
              a(href='/login') Login here.

  script.
    if (getQueryVariable('user_exists')) {
      document.getElementById("bad_user").innerHTML = 'Username already exists. Please choose another.';
    }

    if (getQueryVariable('email_exists')) {
      document.getElementById("bad_password").innerHTML = 'Email already exists. Please choose another.';
    }

    if (getQueryVariable('error')) {
      document.getElementById("unknown_error").innerHTML = 'Unknown Error occurred. Please try again later.';
    }

    if (getQueryVariable('bad_password')) {
      document.getElementById("bad_password").innerHTML = 'Password does not meet requirements.';
    }