extends layout

block content
  title What To Watch - Profile
  - var reccs = movie_info
  
  .container-fluid
    .row
      for movie in reccs
        - var img_src = `https://image.tmdb.org/t/p/w500/${movie.movie_info.poster_path}`
        .col-6.col-sm-4.col-md-4.col-lg-4.col-xl-3.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
          .product#product-desktop
            .imgbox
              img(src=img_src)
            .specifies
              h2
                | #{movie.movie_info.title}
                br
                span Rating: #{movie.movie_info.vote_average} | 
                span  Weight: #{movie.weight}
              br
              label &nbsp;
              ul
                li &nbsp;
              label
              ul.colors
                li 
              a.btn.custom_button(href=`/movies/${movie.movie_id}`) Find Out More

          a#product-mobile(href=`/movies/${movie.movie_id}`)
            .product
              .imgbox
                img(src=img_src)
              .specifies
                h2
                  | #{movie.movie_info.title}
                  br
                  span Rating: #{movie.movie_info.vote_average} | 
                  span  Weight: #{movie.weight}
