extends welcome_layout

block content
  title What To Watch - Welcome
  - var reccs = media_info
  - var remaining_medias = 5 - media_count
  - var inspired_medias = inspire_medias
  include includes/success_review_modal.pug
  include includes/failed_review_modal.pug
  include includes/generating_reccs_modal.pug
  if node_env == 'tv'
    - var titleKey = 'name'
    - var keyword = 'TV show'
  else
    - var titleKey = 'title'
    - var keyword = 'movie'
  
  .container-fluid(style="padding-top: 10px;background-color: #030000")
    .row.curved-div(style="padding-top: 10px;")
      .col-10.col-sm-10.col-md-5.col-lg-3.col-xl-3.offset-xl-2.offset-lg-2.offset-md-1.offset-1.align-self-center.row_style.mobile_padding
        if node_env == 'tv'
          img(src='/images/what_to_watchtv_white.webp', style="width:100%")
        else
          img(src='/images/what_to_watch_white1.webp', style="width:100%")
      .col-10.col-sm-10.col-md-5.col-lg-5.col-xl-5.offset-xl-1.offset-lg-1.offset-md-1.offset-1.align-self-center.row_style
        h4.text-center.white_text
          | What do we do?
        p.white_text
          | Our aim is to provide a simple way to generate #{keyword} recommendations tailored to each individual user. Everyone has at spent at least an evening or two scrolling through #{keyword}s on Netflix or Amazon Prime not knowing what to watch. We want to make this as easy as possible.   
        p.white_text
          | What we do is ask every user to rate five of their favorite #{keyword}s. Once we get that many we can start generating recommendations. 
        p.white_text
          | As with anything, the more you rate, the more accurate we get. This works for #{keyword}s you dont like as well. Not a fan of Marvel? If we can identify these kind of trends we'll try our best to avoid recommending similar #{keyword}s.
        p.white_text
          | All the recommended #{keyword}s are assigned a weight. This weight indicates how much we think you'd enjoy the #{keyword}. The higher the weight, the more we think you'll like it. As you rate more #{keyword}s the weight will change for each of the #{keyword}s you haven't yet rated. 
        h5.white_text(style="letter-spacing: 2px;").text-center
          | Scroll down to get started!
        .social-icons
          a#scroll_button_welcome.social-icon.social-icon--codepen.mx-auto(style="height: 50px;width:50px;background:#a178cf")
            i.fas.fa-arrow-down.fa-stack-1x(style="color: white")
        
      svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 370' style="background-image: url('/images/welcome_back3.webp')").parallax
        path(fill='#030000' fill-opacity='1' d='M0,160L48,133.3C96,107,192,53,288,58.7C384,64,480,128,576,144C672,160,768,128,864,138.7C960,149,1056,203,1152,192C1248,181,1344,107,1392,69.3L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z')

    .row.curved-div(style="margin-top: 0px;padding-top: 40px;margin-bottom: 20px")
      .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-4.offset-xl-4.offset-lg-3.offset-md-3.offset-0.align-self-center.row_style
        h4.text-center.title_style(style="color: #fff")
          | Looking for inspiration
        p.white_text 
          | Can't think of what titles you want to rate? Hover over any of the pictures here to get an idea from some of our favorite titles! 

      .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.offset-xl-3.offset-lg-3.offset-md-3.offset-0.align-self-center.row_style
        .row
          for media in inspired_medias
            - var img_src = `https://image.tmdb.org/t/p/w500/${media.poster_path}`
            .col-3.col-sm-4.col-md-2.col-lg-2.col-xl-2.poster_container
              img(src=img_src).inspire_poster
              .tooltip #{media[titleKey]}

    .row.curved-div(style="margin-top: 0px;padding-top: 40px;margin-bottom: 20px")
      .col-10.col-sm-10.col-md-5.col-lg-5.col-xl-5.offset-xl-1.offset-lg-1.offset-md-1.offset-1.align-self-center.row_style
        h4.text-center.white_text
          | Let's Get Started
        p.white_text 
          | In order to start generating recommendations you must rate at least 5 titles. But the more you review,
          b
            |  the better the suggestions!
        p.white_text
          | To get started search for one of your favorites titles here to rate it.
        p#remaining_media_num.white_text
          | You currently have 
          b #{remaining_medias} 
          | titles left to rate.
        .welcome-search.search_bar_alignment.my-2.my-lg-0
                  input.form-control.mr-sm-2.search_bar_style(type='search' id="welcome_search_submit" placeholder='Search' aria-label='Search' required)
                  button.btn.btn-default(type='submit').search_button#welcome_search(style="color: #fff")
                    i.fas.fa-search
        p.password_error#bad_welcome_search
        
      .col-10.col-sm-10.col-md-5.col-lg-3.col-xl-3.offset-xl-2.offset-lg-2.offset-md-1.offset-1.align-self-center.row_style
        if node_env == 'tv'
          img(src='/images/tv_show_snippet.webp', style="width:100%")
        else
          img(src='/images/movie_list_snippet1.webp', style="width:100%")

    .row.align-items-center#movie_info_popup.welcome_message.shadow-lg(style="display: none; margin-top: 30px;s")
      .col-12.col-sm-12.col-md-12.col-lg-7.col-xl-7.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0.align-text-center
        p(style="padding-bottom: 20px;font-size: 20px").white_text
          |  Click the #{keyword} you want to rate.
          span(style="margin-left: 10px;").far.fa-check-square
        .row.align-items-center.my-auto.welcome_list#welcome_movies
          .row.movie_item#movie0.movie_list
            .col-3.col-sm-2.col-md-2.col-lg-3.col-xl-2.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .img_poster(style="padding-right: 10px;padding-left: 10px")
                img.search_poster#search_poster0.d-block
            .col-9.col-sm-10.col-md-10.col-lg-9.col-xl-10.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .search_text
                h3#movie_title0
                p#media_id0(style="display: none")
                p#movie_date0
                p#movie_overview0.hidden_text
          .row.movie_item#movie1.movie_list
            .col-3.col-sm-2.col-md-2.col-lg-3.col-xl-2.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .img_poster(style="padding-right: 10px;padding-left: 10px")
                img.search_poster#search_poster1.d-block
            .col-9.col-sm-10.col-md-10.col-lg-9.col-xl-10.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .search_text
                h3#movie_title1
                p#media_id1(style="display: none")
                p#movie_date1
                p#movie_overview1.hidden_text
          .row.movie_item#movie2.movie_list
            .col-3.col-sm-2.col-md-2.col-lg-3.col-xl-2.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .img_poster(style="padding-right: 10px;padding-left: 10px")
                img.search_poster#search_poster2.d-block
            .col-9.col-sm-10.col-md-10.col-lg-9.col-xl-10.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .search_text
                h3#movie_title2
                p#media_id2(style="display: none")
                p#movie_date2
                p#movie_overview2.hidden_text
          .row.movie_item#movie3.movie_list
            .col-3.col-sm-2.col-md-2.col-lg-3.col-xl-2.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .img_poster(style="padding-right: 10px;padding-left: 10px")
                img.search_poster#search_poster3.d-block
            .col-9.col-sm-10.col-md-10.col-lg-9.col-xl-10.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .search_text
                h3#movie_title3
                p#media_id3(style="display: none")
                p#movie_date3
                p#movie_overview3.hidden_text
          .row.movie_item#movie4.movie_list
            .col-3.col-sm-2.col-md-2.col-lg-3.col-xl-2.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
                .img_poster(style="padding-right: 10px;padding-left: 10px")
                  img.search_poster#search_poster4.d-block
            .col-9.col-sm-10.col-md-10.col-lg-9.col-xl-10.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0
              .search_text
                h3#movie_title4
                p#media_id4(style="display: none")
                p#movie_date4
                p#movie_overview4.hidden_text

      .col-12.col-sm-12.col-md-12.col-lg-5.col-xl-5.offset-lg-0.offset-xl-0.offset-md-0.offset-sm-0.offset-0.my-auto.align-text-center
        .feedback
          h5.white_text Submit Rating
          .rating
            input#input_media_id(style="display: none", name="input_media_name" value="")
            input#rating-10(type='radio' name='rating' value="10")
            label(for='rating-10')
            input#rating-9(type='radio' name='rating' value="9")
            label(for='rating-9')
            input#rating-8(type='radio' name='rating' value="8")
            label(for='rating-8')
            input#rating-7(type='radio' name='rating' value="7")
            label(for='rating-7')
            input#rating-6(type='radio' name='rating' value="6")
            label(for='rating-6')
            input#rating-5(type='radio' name='rating' value="5")
            label(for='rating-5')
            input#rating-4(type='radio' name='rating' value="4")
            label(for='rating-4')
            input#rating-3(type='radio' name='rating' value="3")
            label(for='rating-3')
            input#rating-2(type='radio' name='rating' value="2")
            label(for='rating-2')
            input#rating-1(type='radio' name='rating' value="1")
            label(for='rating-1')
            .emoji-wrapper
              .emoji
                svg.rating-0(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                    circle(cx='256' cy='256' r='256' fill='#ffd93b')
                    path(d='M512 256c0 141.44-114.64 256-256 256-80.48 0-152.32-37.12-199.28-95.28 43.92 35.52 99.84 56.72 160.72 56.72 141.36 0 256-114.56 256-256 0-60.88-21.2-116.8-56.72-160.72C474.8 103.68 512 175.52 512 256z' fill='#f4c534')
                    ellipse(transform='scale(-1) rotate(31.21 715.433 -595.455)' cx='166.318' cy='199.829' rx='56.146' ry='56.13' fill='#fff')
                    ellipse(transform='rotate(-148.804 180.87 175.82)' cx='180.871' cy='175.822' rx='28.048' ry='28.08' fill='#3e4347')
                    ellipse(transform='rotate(-113.778 194.434 165.995)' cx='194.433' cy='165.993' rx='8.016' ry='5.296' fill='#5a5f63')
                    ellipse(transform='scale(-1) rotate(31.21 715.397 -1237.664)' cx='345.695' cy='199.819' rx='56.146' ry='56.13' fill='#fff')
                    ellipse(transform='rotate(-148.804 360.25 175.837)' cx='360.252' cy='175.84' rx='28.048' ry='28.08' fill='#3e4347')
                    ellipse(transform='scale(-1) rotate(66.227 254.508 -573.138)' cx='373.794' cy='165.987' rx='8.016' ry='5.296' fill='#5a5f63')
                    path(d='M370.56 344.4c0 7.696-6.224 13.92-13.92 13.92H155.36c-7.616 0-13.92-6.224-13.92-13.92s6.304-13.92 13.92-13.92h201.296c7.696.016 13.904 6.224 13.904 13.92z' fill='#3e4347')
                svg.rating-1(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                    circle(cx='256' cy='256' r='256' fill='#ffd93b')
                    path(d='M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z' fill='#f4c534')
                    path(d='M328.4 428a92.8 92.8 0 0 0-145-.1 6.8 6.8 0 0 1-12-5.8 86.6 86.6 0 0 1 84.5-69 86.6 86.6 0 0 1 84.7 69.8c1.3 6.9-7.7 10.6-12.2 5.1z' fill='#3e4347')
                    path(d='M269.2 222.3c5.3 62.8 52 113.9 104.8 113.9 52.3 0 90.8-51.1 85.6-113.9-2-25-10.8-47.9-23.7-66.7-4.1-6.1-12.2-8-18.5-4.2a111.8 111.8 0 0 1-60.1 16.2c-22.8 0-42.1-5.6-57.8-14.8-6.8-4-15.4-1.5-18.9 5.4-9 18.2-13.2 40.3-11.4 64.1z' fill='#f4c534')
                    path(d='M357 189.5c25.8 0 47-7.1 63.7-18.7 10 14.6 17 32.1 18.7 51.6 4 49.6-26.1 89.7-67.5 89.7-41.6 0-78.4-40.1-82.5-89.7A95 95 0 0 1 298 174c16 9.7 35.6 15.5 59 15.5z' fill='#fff')
                    path(d='M396.2 246.1a38.5 38.5 0 0 1-38.7 38.6 38.5 38.5 0 0 1-38.6-38.6 38.6 38.6 0 1 1 77.3 0z' fill='#3e4347')
                    path(d='M380.4 241.1c-3.2 3.2-9.9 1.7-14.9-3.2-4.8-4.8-6.2-11.5-3-14.7 3.3-3.4 10-2 14.9 2.9 4.9 5 6.4 11.7 3 15z' fill='#fff')
                    path(d='M242.8 222.3c-5.3 62.8-52 113.9-104.8 113.9-52.3 0-90.8-51.1-85.6-113.9 2-25 10.8-47.9 23.7-66.7 4.1-6.1 12.2-8 18.5-4.2 16.2 10.1 36.2 16.2 60.1 16.2 22.8 0 42.1-5.6 57.8-14.8 6.8-4 15.4-1.5 18.9 5.4 9 18.2 13.2 40.3 11.4 64.1z' fill='#f4c534')
                    path(d='M155 189.5c-25.8 0-47-7.1-63.7-18.7-10 14.6-17 32.1-18.7 51.6-4 49.6 26.1 89.7 67.5 89.7 41.6 0 78.4-40.1 82.5-89.7A95 95 0 0 0 214 174c-16 9.7-35.6 15.5-59 15.5z' fill='#fff')
                    path(d='M115.8 246.1a38.5 38.5 0 0 0 38.7 38.6 38.5 38.5 0 0 0 38.6-38.6 38.6 38.6 0 1 0-77.3 0z' fill='#3e4347')
                    path(d='M131.6 241.1c3.2 3.2 9.9 1.7 14.9-3.2 4.8-4.8 6.2-11.5 3-14.7-3.3-3.4-10-2-14.9 2.9-4.9 5-6.4 11.7-3 15z' fill='#fff')
                svg.rating-2(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                    circle(cx='256' cy='256' r='256' fill='#ffd93b')
                    path(d='M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z' fill='#f4c534')
                    path(d='M336.6 403.2c-6.5 8-16 10-25.5 5.2a117.6 117.6 0 0 0-110.2 0c-9.4 4.9-19 3.3-25.6-4.6-6.5-7.7-4.7-21.1 8.4-28 45.1-24 99.5-24 144.6 0 13 7 14.8 19.7 8.3 27.4z' fill='#3e4347')
                    path(d='M276.6 244.3a79.3 79.3 0 1 1 158.8 0 79.5 79.5 0 1 1-158.8 0z' fill='#fff')
                    circle(cx='340' cy='260.4' r='36.2' fill='#3e4347')
                    g(fill='#fff')
                      ellipse(transform='rotate(-135 326.4 246.6)' cx='326.4' cy='246.6' rx='6.5' ry='10')
                      path(d='M231.9 244.3a79.3 79.3 0 1 0-158.8 0 79.5 79.5 0 1 0 158.8 0z')
                    circle(cx='168.5' cy='260.4' r='36.2' fill='#3e4347')
                    ellipse(transform='rotate(-135 182.1 246.7)' cx='182.1' cy='246.7' rx='10' ry='6.5' fill='#fff')
                svg.rating-3(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                    circle(cx='256' cy='256' r='256' fill='#ffd93b')
                    path(d='M407.7 352.8a163.9 163.9 0 0 1-303.5 0c-2.3-5.5 1.5-12 7.5-13.2a780.8 780.8 0 0 1 288.4 0c6 1.2 9.9 7.7 7.6 13.2z' fill='#3e4347')
                    path(d='M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z' fill='#f4c534')
                    g(fill='#fff')
                      path(d='M115.3 339c18.2 29.6 75.1 32.8 143.1 32.8 67.1 0 124.2-3.2 143.2-31.6l-1.5-.6a780.6 780.6 0 0 0-284.8-.6z')
                      ellipse(cx='356.4' cy='205.3' rx='81.1' ry='81')
                    ellipse(cx='356.4' cy='205.3' rx='44.2' ry='44.2' fill='#3e4347')
                    g(fill='#fff')
                      ellipse(transform='scale(-1) rotate(45 454 -906)' cx='375.3' cy='188.1' rx='12' ry='8.1')
                      ellipse(cx='155.6' cy='205.3' rx='81.1' ry='81')
                    ellipse(cx='155.6' cy='205.3' rx='44.2' ry='44.2' fill='#3e4347')
                    ellipse(transform='scale(-1) rotate(45 454 -421.3)' cx='174.5' cy='188' rx='12' ry='8.1' fill='#fff')
                svg.rating-4(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                    circle(cx='256' cy='256' r='256' fill='#ffd93b')
                    path(d='M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z' fill='#f4c534')
                    path(d='M232.3 201.3c0 49.2-74.3 94.2-74.3 94.2s-74.4-45-74.4-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z' fill='#e24b4b')
                    path(d='M96.1 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2C80.2 229.8 95.6 175.2 96 173.3z' fill='#d03f3f')
                    path(d='M215.2 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z' fill='#fff')
                    path(d='M428.4 201.3c0 49.2-74.4 94.2-74.4 94.2s-74.3-45-74.3-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z' fill='#e24b4b')
                    path(d='M292.2 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2-77.8-65.7-62.4-120.3-61.9-122.2z' fill='#d03f3f')
                    path(d='M411.3 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z' fill='#fff')
                    path(d='M381.7 374.1c-30.2 35.9-75.3 64.4-125.7 64.4s-95.4-28.5-125.8-64.2a17.6 17.6 0 0 1 16.5-28.7 627.7 627.7 0 0 0 218.7-.1c16.2-2.7 27 16.1 16.3 28.6z' fill='#3e4347')
                    path(d='M256 438.5c25.7 0 50-7.5 71.7-19.5-9-33.7-40.7-43.3-62.6-31.7-29.7 15.8-62.8-4.7-75.6 34.3 20.3 10.4 42.8 17 66.5 17z' fill='#e24b4b')
                svg.rating-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                    g(fill='#ffd93b')
                      circle(cx='256' cy='256' r='256')
                      path(d='M512 256A256 256 0 0 1 56.8 416.7a256 256 0 0 0 360-360c58 47 95.2 118.8 95.2 199.3z')
                    path(d='M512 99.4v165.1c0 11-8.9 19.9-19.7 19.9h-187c-13 0-23.5-10.5-23.5-23.5v-21.3c0-12.9-8.9-24.8-21.6-26.7-16.2-2.5-30 10-30 25.5V261c0 13-10.5 23.5-23.5 23.5h-187A19.7 19.7 0 0 1 0 264.7V99.4c0-10.9 8.8-19.7 19.7-19.7h472.6c10.8 0 19.7 8.7 19.7 19.7z' fill='#e9eff4')
                    path(d='M204.6 138v88.2a23 23 0 0 1-23 23H58.2a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z' fill='#45cbea')
                    path(d='M476.9 138v88.2a23 23 0 0 1-23 23H330.3a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z' fill='#e84d88')
                    g(fill='#38c0dc')
                      path(d='M95.2 114.9l-60 60v15.2l75.2-75.2zM123.3 114.9L35.1 203v23.2c0 1.8.3 3.7.7 5.4l116.8-116.7h-29.3z')
                    g(fill='#d23f77')
                      path(d='M373.3 114.9l-66 66V196l81.3-81.2zM401.5 114.9l-94.1 94v17.3c0 3.5.8 6.8 2.2 9.8l121.1-121.1h-29.2z')
                    path(d='M329.5 395.2c0 44.7-33 81-73.4 81-40.7 0-73.5-36.3-73.5-81s32.8-81 73.5-81c40.5 0 73.4 36.3 73.4 81z' fill='#3e4347')
                    path(d='M256 476.2a70 70 0 0 0 53.3-25.5 34.6 34.6 0 0 0-58-25 34.4 34.4 0 0 0-47.8 26 69.9 69.9 0 0 0 52.6 24.5z' fill='#e24b4b')
                    path(d='M290.3 434.8c-1 3.4-5.8 5.2-11 3.9s-8.4-5.1-7.4-8.7c.8-3.3 5.7-5 10.7-3.8 5.1 1.4 8.5 5.3 7.7 8.6z' fill='#fff' opacity='.2')

          button#rating_button.submit.btn.custom_button(type="submit") Submit



  script.

    var keyword = !{JSON.stringify(keyword)};

    $(".header_search").prop('disabled', true);
    $('input[name="search"]').prop("disabled", true);

    const btn = document.querySelector('#welcome_search');
          // handle button click
          btn.onclick = function () {
            if($('#welcome_search_submit').val()) {
              $(".movie_list").removeClass('movie_select');
              //$('input[name="rating"]').val("0");
              $('#bad_welcome_search').html('');
              var search = $('#welcome_search_submit').val();
              console.log(search);
              $.ajax({
                  type: "POST",
                  url: '/media/welcome/search',
                  dataType: "json",
                  data: {search: search},
                  success: function(data){
                    console.log(data);
                    if (data.results) {
                      $('#movie_info_popup').show();
                      if (data.results.length > 0) {
                        // Removes any rating that might have been added before selecting a different movie
                        for (var i = 1; i <= 10; i++) {
                          $("#rating-" + i).prop('checked', false);
                        } 
                        // Limit results to first 5 movies
                        var movie_loop = 5
                        if (data.results.length < 5) {
                          var movie_loop = data.results.length
                        }
                        for (var i = 0; i < movie_loop; i++) {
                          const title = typeof data.results[i].title != 'undefined' ? data.results[i].title : data.results[i].name;
                          const airDate = typeof data.results[i].release_date != 'undefined' ? data.results[i].release_date : data.results[i].first_air_date; 
                          var poster_src = 'https://image.tmdb.org/t/p/w500/' + data.results[i].poster_path
                          $('#movie' + i).css({"display": ""});
                          $('#media_id' + i).html(data.results[i].id);
                          $('#movie_title' + i).html(title);
                          $('#movie_date' + i).html(airDate);
                          $('#movie_overview' + i).addClass('hidden_text')
                          $('#movie_overview' + i).html(data.results[i].overview);
                          $('#input_media_id').val(data.results[i].id);
                          $("#search_poster" + i).attr("src", poster_src);
                          $('.feedback').show();
                        }
                        // If less than 5 movies returned, make the other entries in the list blank
                        if (movie_loop < 5) {
                          for (var i = movie_loop; i < 5; i++) {
                            $('#movie' + i).css({"display": "none"});
                          }
                        }
                        $('input[name="rating"]').prop("disabled", true);
                        $('button[id="rating_button"]').prop("disabled", true);
                      }
                      else {
                        $('input[name="rating"]').prop("disabled", true);
                        $('.feedback').hide();
                        $('#movie_date0').html("");
                        $('#input_media_id').val("");
                        $("#search_poster0").removeAttr('src');
                        $('#movie_title0').html("Hmm... No results found for " + search + ".");
                        $('#movie_overview0').removeClass('hidden_text')
                        $('#movie_overview0').html("Please double check there are no spelling errors or typos - or even try a different search term.")
                      
                        for (var i = 1; i < 5; i++) {
                            $('#movie' + i).css({"display": "none"});
                          }
                      }
                       $('html,body').animate({
                          scrollTop: $("#welcome_movies").offset().top},
                          'slow');
                    }
                    else if (!data.results) {
                      $("#failedReview").modal('show');                        
                      }
                  },
                  error: function(jqXHR, textStatus, errorThrown){
                    $("#failedReview").modal('show');
                  }              
              });

            }
            else {
              $('#bad_welcome_search').html("Please input a value when searching.");
            }
          };
    $('input[name="rating"]').prop("disabled", true);
    $('button[id="rating_button"]').prop("disabled", true);
    $('input[name="rating"]').on("click", function() {
      if($('input[name="rating"]:checked').length){
        $('button[id="rating_button"]').prop("disabled", false);
      }
    }); 
    const rating_btn = document.querySelector('#rating_button');
        // handle button click
        rating_btn.onclick = function () {
            console.log("CHecking for data....");
            const media_id = $('#input_media_id').val();
            console.log(media_id);
            const rbs = document.querySelectorAll('input[name="rating"]');
            let selectedValue;
            console.log(rbs);
            for (const rb of rbs) {
                if (rb.checked) {
                    selectedValue = rb.value;
                    console.log(rb.id);
                    break;
                }
            }
            console.log(selectedValue);
            $.ajax({
                type: "POST",
                url: '/tmdbapi/submit_rating',
                dataType: "json",
                data: {rating: selectedValue, media_id: media_id},
                success: function(data){
                  console.log(data);
                  if (data.num_rated == 5) {
                    $('#generatingReccs').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
                    $("#generatingReccs").modal('show');
                    window.location.href = '/userprofile'
                  }
                  else if (data.success) {
                    $("#successReview").modal('show');
                    $('#movie_info_popup').hide();
                    var left_to_rate = 5 - data.num_rated
                    $("#remaining_media_num").html("You currently have <b>" + left_to_rate + "</b> titles left to rate")
                  }
                  else if (!data.success) {
                    $("#failedReview").modal('show');
                    if (data.is_rated) {
                      $("#failed_review").html("This title has already been rated. Please try another.")
                    }
                    $('#movie_info_popup').hide();                        
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                  $("#failedReview").modal('show');
                  $('#movie_info_popup').hide();
                }              
            });
        };

    $(document).on("click",".movie_list", function () {
      var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
      $(this).removeClass('movie_item');

      if ($(this).hasClass('movie_select')) {
        // Removes highlight from a movie card if it is already selected
        $(this).removeClass('movie_select')
        $(this).addClass('movie_item')

        // Disallows the user from trying to submit a rating without having a movie selected
        $('input[name="rating"]').prop("disabled", true);
        $('button[id="rating_button"]').prop("disabled", true);

        // Removes any rating that might have been added before selecting a different movie
        for (var i = 1; i <= 10; i++) {
          $("#rating-" + i).prop('checked', false);
        } 
      }
      else {
        // Removes highlight from previously selected movie and adds it to the newly selected
        $(".movie_list").removeClass('movie_select');
        $(this).addClass('movie_select')

        // Allows user to make rating but unable to submit until a rating has been clicked
        $('input[name="rating"]').prop("disabled", false);
        $('button[id="rating_button"]').prop("disabled", true);
        
        // Assigns the media_id for the selected movie to a var that is passed into the AJAX Request
        var lastChar = clickedBtnID[clickedBtnID.length -1];
        var media_id_div = "media_id" + lastChar;
        var media_id_val = $('#' + media_id_div).text();
        $('#input_media_id').val(media_id_val)

        // Removes any rating that might have been added before selecting a different movie
        for (var i = 1; i <= 10; i++) {
          $("#rating-" + i).prop('checked', false);
        } 
      }

      // Add highlight to selected box
    });

    const scroll_btn = document.querySelector('#scroll_button_welcome');
        // handle button click
        scroll_btn.onclick = function () {
          $('html,body').animate({
            scrollTop: $("#welcome_search_submit").offset().top},
            'slow');
        };
